body {
    max-width: 800px;
    margin: auto;
}

header {
    text-align: center;
}

.top-container {
    display: flex;
    flex-wrap: wrap;
}

.photo-container {
    box-sizing: border-box;
    width: 15%;
    padding-right: 10px;
}

.photo {
    max-width: 100%;
    padding: 10px;
}

.name-container {
    box-sizing: border-box;
    width: 75%;
    text-align: left;
}

address {
}

.name {
    text-transform: uppercase;
}

.section-header {
    text-transform: uppercase;
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}
